{% extends 'blog/base_post.html' %}

{% block title %}
    {{ object.title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <h1 class="mt-5">
        {{ object.title }}
    </h1>
    <p>Description: {{ object.description }}</p>
    {% if request.user.is_superuser %}
        <a href="{% url 'post_update_url' profile_id=profile_id %}" class="btn btn-success">Edit</a>
        <a href="{% url 'post_delete_url' profile_id=profile_id %}" class="btn btn-danger">Delete</a>
    {% endif %}
    <hr>
    <div class="row">
        <h3>Add comment</h3>
        <form action="{% url 'post_detail_url' profile_id=profile_id %}" method="post" id="formComment">
            {% csrf_token %}
            <input type="hidden" name="parent" id="contactparent" value="">
            {% for field in form %}
                {% if field.id_for_label == 'id_user' or field.id_for_label == 'id_name' and request.user.is_authenticated %}
                    {{ field.as_hidden }}
                {% else %}
                <div class="form-group">
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                    {% if not field.is_hidden %}
                        {{ field.label }}
                    {% endif %}
                    {{ field }}
                </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-3">Leave a comment</button>
        </form>
    </div>
    <hr>
    <h3>Comments</h3>
    {% load mptt_tags %}
    <div class="row comments">
        <div class="col-md-12" id="comments">
            {% recursetree comments %}
                {% if node.is_active %}
                    <h5 class="card-title" id="contactcomment">
                        {% if not node.user %}
                            {{ node.name }} - anonymous
                        {% else %}
                            {{ node.user }}
                        {% endif %}
                    </h5>
                    <h6>{{ node.created_at }}</h6>
                    <p>{{ node.comment }}</p>
                    <a href="#formComment" onclick="addComment('{{ node.name }}', '{{ node.id }}')">Ответить</a>
                    <hr>
                    {% if not node.is_leaf_node %}
                        <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                {% endif %}
            {% endrecursetree %}
        </div>
    </div>
    <script>
        function addComment(name, id) {
            document.getElementById("contactparent").value = id;
            document.getElementById("contactcomment").innerHTML = `${name}, `
        }
    </script>
{% endblock %}
